* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

.card {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  background-color: hsl(216, 50%, 16%);
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 3px 20px 20px rgba(0, 0, 0, 0.5);
}

.image-content {
  background-image: url(images/image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}

.image-content:hover:after {
  content: url(images/icon-view.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 10px;
}

.text-content {
  color: hsl(0, 0%, 100%);
  padding: 0 20px;
}

h1 {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}

h1:hover {
  color: hsl(178, 100%, 50%);
}

p {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 0;
  color: hsl(215, 51%, 70%);
}

.ethereum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eth {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: hsl(178, 100%, 50%);
  gap: 5px;
}

.days-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  gap: 5px;
}

hr {
  margin: 20px 0 0;
  border: 1px solid hsl(215, 32%, 27%);
  border-bottom: none;
}

.creator {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.creator img {
  max-height: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50px;
}

.creator p {
  font-size: 14px;
  font-weight: 300;
}

.creator a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.creator a:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
